:root {
    --mainColor: #0A192F;
    --secondaryColor: #8892B0;

    --borderColor: #307A77;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #FFF;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --inputFieldColor: #708090;
    --buttonColor: #37546f;

    --navBarColor: #CCD6F7;
    
    --skillList: #fff;

    --gradient1: #307A77;
    --gradient2: #307A77;

    --navigationColor: #0a192f;

    --sidebarColor: #8892B0;
    --rightWindowColor: white;
}
