:root {
    --mainColor: #15202B;
    --secondaryColor: #3b4d5e;

    --borderColor: #164D56;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #FFF;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --inputFieldColor: #708090;
    --buttonColor: #37546f;

    --navBarColor: #708090;
    
        --skillList: #fff;
}