
/* ---misc styling--- */

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--mainColor);
   
}

body * {
    transition: 0.3s;
}


h1,
h2,
h3,
h4,
h5,
h6,
#color-theme-heading,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    /* color: #17a2b8; */
    color: var(--secondaryText);
}

ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

/* --- main sections --- */

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.s1 {
    background-color: var(--mainColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

/* --- layout - top area --- */

.top-area-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        'greeting-area color-theme-area';
    min-height: 10em;
    padding: 30px;
    align-items: center;
}

#greeting-area{
    grid-area: greeting-area;
    text-align: left;
}

.color-theme-wrapper{
    grid-area: color-theme-area;
    display: flex;
    flex-direction: column;
 
}

#color-theme-heading{
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

#color-circles-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}


#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #9CF965;
}

#purple-mode {
    background-color: #7E4C74;
}



/* --- layout - window area --- */

.window-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    margin: 0 0 50px 0;
    

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column';

    align-content: flex-start;

}

/* --- left column, sidebar --- */

.left-column {
    grid-area: left-column;
    padding-bottom: 50px;
    border-right: 1px solid gray;
    line-height: 3;
    height: 43.35em;
    background-color: var(--sidebarColor);
}

.sidebar-links-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

#sidebar-links {
    background-image: linear-gradient(var(--gradient1), var(--gradient2));
    background-size: 0 80%;
    background-repeat: no-repeat;
    transition: .4s;
    padding-bottom: 10px;
}

#sidebar-links:hover {
    background-size: 100% 80%;
}

/* --- right column --- */

.right-column {
    grid-area: right-column;
    align-content: center;
    padding: 20px 20px 50px 20px;
    background-color: var(--rightWindowColor);
}

#right-html-wrapper h4{
    color: var(--headerText);
}

#right-html-wrapper p {
    color: var(--paragraphText);
}


/* --- toolbar area --- */

.toolbar-wrapper {
    border-radius: 5px 5px 0 0;
    height: 3.5em;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navBarColor);
}

#navigation a {
    color: var(--navigationColor);
}

#navigation a:hover{
    color: var(--gradient1);
}


#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}



/* --- media queries --- */

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .top-area-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'greeting-area'
            'color-theme-area';
    }

    .right-column {
        
        justify-content: center;
    }
    #greeting-area{
        
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
 

        #greeting-area {
            text-align: center;
        }

}