:root {
    --mainColor: #68BB59;
    --secondaryColor: #256F15;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #FFF;

    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --inputFieldColor: #ACDF87;
    --buttonColor: #2a2f25;

    --navBarColor: #ACDF87;

  
    
        --skillList: #fff;


}