:root {
    --mainColor: black;
    --secondaryColor: #9CF965;

    --borderColor: #161914;

    --mainText: #9CF965;
    --secondaryText: #256F15;

    --themeDotBorder: #FFF;

    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --inputFieldColor: #ACDF87;
    --buttonColor: #2a2f25;

    --navBarColor: #9CF965;

    --skillList: #fff;

    --gradient1: black;
    --gradient2: black;

    --navigationColor: #256F15;

    --sidebarColor: #cbf8b1;
    --rightWindowColor: white;
}

