:root {
    --mainColor: #46344E;
    --secondaryColor: #382a3f;

    --borderColor: #1d1520;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --headerText: #46344E;
    --paragraphText: #382a3f;

    --themeDotBorder: #FFF;

    --previewBg: rgb(29, 21, 32, 0.8);
    --previewShadow: #653780;

    --inputFieldColor: #e6e6fa;
    --buttonColor: #653780;

    --navBarColor: #653780;
    
    --skillList: #fff;

    --gradient1: #c67ff2;
    --gradient2: #ac6dcc;

    --sidebarColor: #d7a3f7;
    --rightWindowColor: white;

}

